@charset "UTF-8";

/*Desculpa pelo trabalho!! */

body
{
    /* background-color: #6a43b3; */
    background-color: rgb(35, 35, 189);
}

.conteudo-game-page{
    background-color: #e5e8f0;
}

#img_principal>img{
    width: 300px;
    height: 400px;
}

#preco{
    background-color: white;
}

#preco>a{
    width: 72%;
}