@charset "UTF-8";

/*Desculpa pelo trabalho!! */

body
{
    /* background-color: #6a43b3; */
    background-color: rgb(35, 35, 189);
}

.jogoTitulo
{
    font-size: 48px;
    color: lightgrey;
}

.text-underline-hover 
{
    color: lightgray;
    text-decoration: none;
}
.text-underline-hover:hover 
{
    color: lightgray;
    text-decoration: underline;
}

.gamepage-card-img-top
{
    size: auto;
}

img.gamepage-carrossel
{
    width: 800px;
}